{% extends 'index.html' %}
{% block title %}
    Delete Author
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-header text-center"><strong class="card-title">Delete Author</strong></div>
        <div class="card-body card-block">
            <form action="#" method="POST" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                <div class="row form-group">
                    <div class="col col-md-3">{{ authorForm.nameAuthor.label }}</div>
                    <div class="col-12 col-md-9">{{ authorForm.nameAuthor }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ authorForm.lastNameAuthor.label }}</div>
                    <div class="col-12 col-md-9">{{ authorForm.lastNameAuthor }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ authorForm.nationalityAuthor.label }}</div>
                    <div class="col-12 col-md-9">{{ authorForm.nationalityAuthor }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ authorForm.descriptionAuthor.label }}</div>
                    <div class="col-12 col-md-9">{{ authorForm.descriptionAuthor }}</div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Delete Author</button>
                    <button type="reset" class="btn btn-danger">
                        <a href="{% url 'book:listAuthors' %}" style="color: white;">
                            Cancel
                        </a>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}