{% extends 'index.html' %}
{% load static %}
{% block title %}
    List Authors
{% endblock title %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <strong class="card-title">List Authors</strong>
                    </div>
                    <div class="card-body">
                        <div id="bootstrap-data-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div style="float: right; margin-bottom: 1rem;">
                                        <button class="btn btn-success">
                                            <a class="fa fa-plus-square" href="{% url 'book:createAuthor' %}" style="color: white;"> Add Author</a>
                                        </button>
                                    </div>
                                    {% if authors %}
                                        <table id="bootstrap-data-table" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="bootstrap-data-table_info">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name Author</th>
                                                    <th>Last Name Author</th>
                                                    <th>Nationality Author</th>
                                                    <th>Description Author</th>
                                                    <th>CreateDate Author</th>
                                                    <th>UpdateDate Author</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            {% for author in authors %}
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            {{ author.id }}
                                                        </td>
                                                        <td>
                                                            {{ author.nameAuthor }}
                                                        </td>
                                                        <td>
                                                            {{ author.lastNameAuthor }}
                                                        </td>
                                                        <td>
                                                            {{ author.nationalityAuthor }}
                                                        </td>
                                                        <td>
                                                            {{ author.descriptionAuthor}}
                                                        </td>
                                                        <td>
                                                            {{ author.createDateAuthor }}
                                                        </td>
                                                        <td>
                                                            {{ author.updateDateAuthor }}
                                                        </td>
                                                        <td>
                                                            <ul class="nav navbar-nav">
                                                                <li class="menu-item-has-children dropdown">
                                                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        <i class="menu-icon fa fa-user">Author</i>
                                                                    </a>                                                                    
                                                                    <ul class="sub-menu children dropdown-menu">
                                                                        <button class="btn btn-primary">
                                                                            <li><i class="fa fa-eye"></i><a href="{% url 'book:visualizeAuthor' author.pk %}" style="color: white;"> Visualize</a></li>
                                                                        </button>
                                                                        <button class="btn btn-primary">
                                                                            <li><i class="fa fa-pencil"></i><a href="{% url 'book:updateAuthor' author.pk %}" style="color: white;"> Update</a></li>
                                                                        </button>
                                                                        <button class="btn btn-danger">
                                                                            <li><i class="fa fa-eraser"></i><a href="{% url 'book:deleteAuthor' author.pk %}" style="color: white;"> Delete</a></li>
                                                                        </button>                                                                        
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <p>
                                            Not authors
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts_strass %}
{% endblock scripts_strass %}