{% extends 'index.html' %}
{% block title %}
    List Books
{% endblock title %}
{% block body %}
    <button>
        <a href="{% url 'index' %}">Index</a>
    </button>
    <button>
        <a href="{% url 'book:createBook' %}">Create Book</a>
    </button>
    {% if books %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title Book</th>
                    <th>PublicationDate Book</th>
                    <th>Authors of Book</th>
                    <th>CreateDate Book</th>
                    <th>UpdateDate Book</th>
                    <th>Options</th>
                </tr>
            </thead>
            {% for book in books %}
                <tbody>
                    <tr>
                        <td>
                            {{ book.id }}
                        </td>
                        <td>
                            {{ book.titleBook }}
                        </td>
                        <td>
                            {{ book.publicationDateBook }}
                        </td>
                        <td>
                            {{ book.get_authorId }}
                        </td>
                        <td>
                            {{ book.createDateBook }}
                        </td>
                        <td>
                            {{ book.updateDateBook }}
                        </td>
                        <td>
                            <button>
                                <a href="{% url 'book:visualizeBook' book.id %}">
                                    Visualize
                                </a>
                            </button>
                            <button>
                                <a href="{% url 'book:updateBook' book.id %}">
                                    Update
                                </a>
                            </button>
                            <button>
                                <a href="{% url 'book:deleteBook' book.id %}">
                                Delete
                            </a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p>
            Not Books
        </p>
    {% endif %}
{% endblock body %}