<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Index{% endblock title %}</title>
    </head>
    <body>
        {% block body %}
            <h1>
                Index
            </h1>
            <p>
                Esta es la pagina principal
            </p>
            <button>
                <a href="{% url 'book:listAuthors' %}">List Authors</a>
            </button>
            <button>
                <a href="{% url 'book:listBooks' %}">List Books</a>
            </button>
        {% endblock body %}
    </body>
</html>